/* Elemente ausblenden */

.ib-hourglass {
  display: none !important;
}

.ib-hamburger-side {
  display: none !important;
}

.ib-expand {
  display: none !important;
}

.ib-bar-graph {
  display: none !important;
}

.ib-plus {
  display: none !important;
}

.ib-arrow-right-full-line {
  display: none !important;
}

.ib-hamburger {
  display: none !important;
}

.ib-refresh {
  display: none !important;
}

.mb-3 {
  width: 100%;
}

.tk-weitere-infos {
  border: 1px solid var(--bs-border-color);
  border-radius: 0.5rem;
  background: var(--bs-body-bg);
  padding: 1rem;
}

.tk-weitere-infos-content :last-child {
  margin-bottom: 0;
}

.tk-weitere-infos-content a {
  overflow-wrap: anywhere;
}
